body {
	font-family: "Times New Roman";
}

.product {
	padding-left: 50px;
	width: 500px;
	background-color: #e1ece2;
}

.image {
	padding-top: 10px;
	padding-left: 5px;
	width: 200px;
}

.details {
	width: 150px;
}

.content {
	padding-top: 20px;
	width: 450px;
}
.comment {
	font:  11px "lucida grande",tahoma,verdana,arial,sans-serif;
}

.show {
	padding-top: 20px;
	width: 450px;
}
.date {
	font-family: sans-serif;
	font-size: 10pt;
	font-style: oblique;
	float: right;
}
.

